.link{
    color: deepskyblue;
    transform: 0.2s linear;
}

.link:hover{
    color: dodgerblue;
    cursor: pointer;
}

.table{
text-align: center;
border: 1px solid black;
}

.page{
    display: inline;
    padding-left: 10px;
    font-size: 2em;
    border: 1px solid black;
}

.page:hover{
    cursor: pointer;
}